<template>
  <div :style="'height: calc(100% - ' + (ribbonCollapsed ? 95 : 175) + 'px);'">
    <vc-ribbon
      :config="ribbonConfig"
      :tab-selected="0"
      ref="ribbon"
      width="100%"
      toggle-button="Свернуть/развернуть меню"
      toolstrip-min-height="35px"
      theme="blue"
      @vue-ribbon:command="onRibbonCommand"
      @vue-ribbon:collapsed="onRibbonCollapsed"
      app-icon="mdi-file-excel-box"
    />
    <div ref="selectionRange"></div>
    <input type="text" ref="formulaTextBox" style="width: 100%" />
    <div ref="grid" class="gc-grid"></div>
    <div ref="statusBar" style="height: 22px"></div>
  </div>
</template>

<style scoped>
h3 {
  margin: 40px 0 0;
}
.gc-grid {
  min-height: 78vh;
  height: 100%;
}
</style>

<script>
import "@grapecity/spread-sheets/styles/gc.spread.sheets.excel2016colorful.css";
import "vc-ribbon/dist/lib/vc-ribbon.min.css";
import * as GC from "@grapecity/spread-sheets/";
import * as Excel from "@grapecity/spread-excelio";
import "@grapecity/spread-sheets-languagepackages";
import licenseSpreadjs from "@/utils/spreadjs/license";
import ruLang from "@/utils/spreadjs/ru";
import {
  boldValues,
  fonts,
  fontSizes,
  getFormatter
} from "@/utils/spreadjs/variables";
import ribbonConfig from "@/utils/spreadjs/ribbonConfig.js";

import { saveAs } from "file-saver";

import VcRibbon from "vc-ribbon";
import parseCSSFont from "parse-css-font";

GC.Spread.Sheets.LicenseKey = Excel.LicenseKey = licenseSpreadjs;
const myCulture = new GC.Spread.Common.CultureInfo(ruLang);
myCulture.DateTimeFormat = ruLang.DateTimeFormat;
GC.Spread.Common.CultureManager.addCultureInfo("ru", myCulture, ruLang);
GC.Spread.Common.CultureManager.culture("ru");
GC.Spread.CalcEngine.LanguagePackages.languagePackages("ru");

const enToRuFormatMap = {};
enToRuFormatMap["mm/dd/yyyy"] = new GC.Spread.Formatter.GeneralFormatter(
  "dd.MM.yyyy"
);
enToRuFormatMap["mm/dd/yy"] = new GC.Spread.Formatter.GeneralFormatter(
  "dd.MM.yy"
);
enToRuFormatMap["m/d/yyyy"] = new GC.Spread.Formatter.GeneralFormatter(
  "dd.MM.yyyy"
);
enToRuFormatMap["mmm-yy"] = new GC.Spread.Formatter.GeneralFormatter("mmm yy");
// add more mapping here as needed.

let gGetFormatter = GC.Spread.Formatter.GeneralFormatter.prototype.getFormatter;
GC.Spread.Formatter.GeneralFormatter.prototype.getFormatter = function(index) {
  let f = gGetFormatter.call(this, index);
  let formatString = f && f.formatString();
  if (
    formatString &&
    formatString.length > 0 &&
    enToRuFormatMap[formatString]
  ) {
    return enToRuFormatMap[formatString];
  }
  return f;
};

export default {
  name: "Home",
  components: { VcRibbon },
  data() {
    return {
      defaultFont: "12px Arial",
      selections: [],
      ribbon: {
        font: {
          family: "Arial",
          size: "12px",
          bold: false,
          italic: false,
          underline: false,
          lineThrough: false,
          doubleUnderline: false,
          overline: false,
          foreColor: null,
          backColor: null,
          border: null
        },
        number: {
          format: null,
          custom: ""
        },
        filter: {
          options: null
        },
        paragraph: {
          hAlign: "",
          vAlign: "",
          indentDiff: null
        },
        clipboard: {
          range: null,
          text: null,
          sheet: null,
          sheetName: null
        }
      },
      ribbonCollapsed: false,
      dataChanged: false
    };
  },
  watch: {
    ribbon: {
      deep: true,
      // eslint-disable-next-line no-unused-vars
      handler(value) {
        this.prepareRibbon();
      }
    }
  },
  methods: {
    onRibbonCommand(data) {
      this.ribbon.font.border = null;
      this.ribbon.filter.options = null;
      this.ribbon.paragraph.indentDiff = 0;

      if (data.type === "vc-ribbon-quick-launch-toolbar") {
        this.handleQuickLaunch(data);
      } else {
        this.dataChanged = true;
      }

      if (data.ribbon === "font") {
        this.handleFontCommands(data);
      } else if (data.ribbon === "numbers") {
        this.handleNumbersCommands(data);
      } else if (data.ribbon === "sort-filter") {
        this.handleSortFilterCommands(data);
      } else if (data.ribbon === "outlines") {
        this.handleOutlinesCommands(data);
      } else if (data.ribbon === "paragraph") {
        this.handleParagraphCommands(data);
      }
    },
    handleQuickLaunch(ribbonEvent) {
      if (ribbonEvent.name === "save") {
        this.$emit("load", true);
        const json = JSON.stringify(this.workbook.toJSON());
        const excelIO = new Excel.IO();

        excelIO.save(
          json,
          blob => {
            saveAs(
              blob,
              `excel-export-${this.$moment().format("YY-MM-DD HH:mm:ss")}.xlsx`
            );
            this.$emit("load", false);
          },
          e => {
            this.$emit("load", false);
            if (e.errorCode === 1) {
              alert(e.errorMessage);
            }
          }
        );
      } else if (ribbonEvent.name === "undo") {
        this.workbook.undoManager().undo();
      } else if (ribbonEvent.name === "redo") {
        this.workbook.undoManager().redo();
      } else if (ribbonEvent.name === "copy") {
        this.workbook.commandManager().execute({
          cmd: "copy",
          sheetName: this.workbook.getActiveSheet().name()
        });
      } else if (ribbonEvent.name === "cut") {
        this.workbook.commandManager().execute({
          cmd: "cut",
          sheetName: this.workbook.getActiveSheet().name()
        });
      } else if (ribbonEvent.name === "paste") {
        this.workbook.commandManager().execute({
          cmd: "paste",
          sheetName: this.workbook.getActiveSheet().name()
        });
        // this.workbook.commandManager().execute({cmd: "clipboardPaste", sheetName: this.activeSheet.name(), fromSheet: this.activeSheet, fromRanges: null, pastedRanges: range, isCutting: false, clipboardText: text, pasteOption: GC.Spread.Sheets.ClipboardPasteOptions.all});
      }
    },
    handleFontCommands(ribbonEvent) {
      if (ribbonEvent.name === "dropdown:font-family") {
        this.ribbon.font.family = ribbonEvent.commands.name;
      } else if (ribbonEvent.name === "dropdown:font-size") {
        this.ribbon.font.size = ribbonEvent.commands.value;
      } else if (
        ribbonEvent.name ===
        "toggle-buttons:bold-italic-underline-strikethrough"
      ) {
        const toggleMap = {};
        ribbonEvent.commands.forEach(cmd => {
          toggleMap[cmd] = true;
        });
        this.ribbon.font.lineThrough = toggleMap.strikethrough;
        this.ribbon.font.underline = toggleMap.underline;
        this.ribbon.font.doubleUnderline = toggleMap.doubleunderline;
        this.ribbon.font.overline = toggleMap.overline;
        this.ribbon.font.bold = toggleMap.bold;
        this.ribbon.font.italic = toggleMap.italic;
      } else if (ribbonEvent.name === "color-picker:font-color") {
        this.ribbon.font.foreColor = ribbonEvent.commands[0];
      } else if (ribbonEvent.name === "color-picker:highlight-color") {
        this.ribbon.font.backColor = ribbonEvent.commands[0];
      } else if (ribbonEvent.name === "menu:border-style") {
        this.ribbon.font.border = ribbonEvent.commands[0];
      } else if (ribbonEvent.name === "buttons:font-sizing") {
        const cmd = ribbonEvent.commands[0];
        const current = parseInt(this.ribbon.font.size.replace("px", ""));
        if (cmd === "font-grow") {
          const greater = fontSizes.filter(s => {
            return s > current;
          });
          if (greater.length > 0) {
            this.ribbon.font.size = greater[0] + "px";
          }
        } else if (cmd === "font-shrink") {
          const less = fontSizes.filter(s => {
            return s < current;
          });
          if (less.length > 0) {
            this.ribbon.font.size = less[less.length - 1] + "px";
          }
        }
      }

      const fontMarks = [];
      let decorationValue = GC.Spread.Sheets.TextDecorationType.none;
      if (this.ribbon.font.italic) {
        fontMarks.push("italic");
      }
      if (this.ribbon.font.bold) {
        fontMarks.push("bold");
      }

      if (this.ribbon.font.lineThrough) {
        decorationValue |= GC.Spread.Sheets.TextDecorationType.lineThrough;
      }
      if (this.ribbon.font.underline) {
        decorationValue |= GC.Spread.Sheets.TextDecorationType.underline;
      }
      if (this.ribbon.font.doubleUnderline) {
        decorationValue |= GC.Spread.Sheets.TextDecorationType.doubleUnderline;
      }
      if (this.ribbon.font.overline) {
        decorationValue |= GC.Spread.Sheets.TextDecorationType.overline;
      }

      const fontValue = fontMarks.join(" ");
      const family = this.ribbon.font.family;
      const size = this.ribbon.font.size;

      // Border definition
      let borderOption = null;
      let borderLineStyle = null;
      if (this.ribbon.font.border) {
        borderOption = {};
        if (this.ribbon.font.border === "none") {
          borderOption.all = true;
          borderLineStyle = new GC.Spread.Sheets.LineBorder(
            "#000000",
            GC.Spread.Sheets.LineStyle.empty
          );
        } else {
          borderOption[this.ribbon.font.border] = true;
          borderLineStyle = new GC.Spread.Sheets.LineBorder(
            "#000000",
            GC.Spread.Sheets.LineStyle.thin
          );
        }
      }

      const activeSheet = this.workbook.getActiveSheet();
      this.workbook.suspendPaint();
      this.workbook.suspendEvent();
      activeSheet.getSelections().forEach(sel => {
        const range = activeSheet.getRange(
          sel.row,
          sel.col,
          sel.rowCount,
          sel.colCount,
          GC.Spread.Sheets.SheetArea.viewport
        );
        range.font(`${fontValue} ${size} ${family}`);
        range.textDecoration(decorationValue);
        range.foreColor(this.ribbon.font.foreColor);
        range.backColor(this.ribbon.font.backColor);
        if (borderOption) {
          range.setBorder(borderLineStyle, borderOption);
        }
      });
      this.workbook.resumePaint();
      this.workbook.resumeEvent();
    },
    handleNumbersCommands(ribbonEvent) {
      if (ribbonEvent.name === "dropdown:number-format") {
        this.ribbon.number.format = ribbonEvent.commands.value;
      } else if (ribbonEvent.name === "buttons:number-format") {
        const cmd = ribbonEvent.commands[0];
        if (cmd === "percentage") {
          this.ribbon.number.format = "#.#%";
        } else if (cmd === "decimal") {
          this.ribbon.number.format = "#.00";
        } else if (cmd === "increase-decimal") {
          let custom = this.ribbon.number.format;
          if (this.ribbon.number.format === "custom") {
            custom = this.ribbon.number.custom;
          } else if (!custom || custom === "general") {
            custom = "#";
          }
          const matches = custom.match(/\.0+|\.#+/);
          if (matches && matches.length > 0) {
            const match = matches[0];
            let result = ".";
            for (let n = 0; n < match.length; n++) {
              result += "0";
            }
            custom = custom.replace(match, result);
            // let newFormat =
          } else {
            custom += ".0";
          }

          this.ribbon.number.custom = custom;
          this.ribbon.number.format = "custom";
        } else if (cmd === "decrease-decimal") {
          let custom = this.ribbon.number.format;
          if (this.ribbon.number.format === "custom") {
            custom = this.ribbon.number.custom;
          } else if (!custom || custom === "general") {
            custom = "#";
          }
          // this.ribbon.number.custom = '#'
          // let re = /\.0+|\.##/
          const matches = custom.match(/\.0+|\.#+/);
          if (matches && matches.length > 0) {
            const match = matches[0];
            let result = "";
            if (match.length > 2) {
              result += ".";
              for (let n = 0; n < match.length - 2; n++) {
                result += "0";
              }
            }
            custom = custom.replace(match, result);
          }

          this.ribbon.number.custom = custom;
          this.ribbon.number.format = "custom";
        }
      }

      const activeSheet = this.workbook.getActiveSheet();
      this.workbook.suspendPaint();
      this.workbook.suspendEvent();
      activeSheet.getSelections().forEach(sel => {
        const range = activeSheet.getRange(
          sel.row,
          sel.col,
          sel.rowCount,
          sel.colCount,
          GC.Spread.Sheets.SheetArea.viewport
        );
        if (this.ribbon.number.format) {
          if (this.ribbon.number.format === "custom") {
            range.formatter(this.ribbon.number.custom);
          } else {
            range.formatter(this.ribbon.number.format);
          }
        }
      });
      this.workbook.resumePaint();
      this.workbook.resumeEvent();
    },
    handleSortFilterCommands(ribbonEvent) {
      const activeSheet = this.workbook.getActiveSheet();
      const selections = activeSheet.getSelections();
      if (ribbonEvent.name === "buttons:filter") {
        const cmd = ribbonEvent.commands[0];
        if (cmd === "filter") {
          if (selections.length > 0) {
            activeSheet.suspendPaint();
            activeSheet.rowFilter(
              new GC.Spread.Sheets.Filter.HideRowFilter(selections[0])
            );
            activeSheet.resumePaint();
          }
        } else if (cmd === "remove-filter") {
          activeSheet.rowFilter(null);
        }
      } else if (ribbonEvent.name === "buttons:sort") {
        const cmd = ribbonEvent.commands[0];
        if (cmd === "ascending-sort") {
          selections.forEach(sel => {
            activeSheet.sortRange(
              sel.row,
              sel.col,
              sel.rowCount,
              sel.colCount,
              true,
              [{ index: sel.col, ascending: true }]
            );
          });
        } else if (cmd === "descending-sort") {
          selections.forEach(sel => {
            activeSheet.sortRange(
              sel.row,
              sel.col,
              sel.rowCount,
              sel.colCount,
              true,
              [{ index: sel.col, ascending: false }]
            );
          });
        }
      }
    },
    handleOutlinesCommands(ribbonEvent) {
      const activeSheet = this.workbook.getActiveSheet();
      const selections = activeSheet.getSelections();
      if (selections.length === 0) {
        return;
      }

      const selection = selections[0];
      activeSheet.suspendPaint();
      activeSheet.suspendEvent();
      if (ribbonEvent.name === "buttons:outlines") {
        const cmd = ribbonEvent.commands[0];
        if (cmd === "group-column") {
          activeSheet.columnOutlines.group(selection.col, selection.colCount);
        } else if (cmd === "group-row") {
          activeSheet.rowOutlines.group(selection.row, selection.rowCount);
        } else if (cmd === "expand") {
          activeSheet.rowOutlines.expand(0, true);
          activeSheet.columnOutlines.expand(0, true);
        } else if (cmd === "collapse") {
          activeSheet.rowOutlines.expand(0, false);
          activeSheet.columnOutlines.expand(0, false);
        } else if (cmd === "show") {
          activeSheet.showRowOutline(true);
          activeSheet.showColumnOutline(true);
        } else if (cmd === "hide") {
          activeSheet.showRowOutline(false);
          activeSheet.showColumnOutline(false);
        } else if (cmd === "ungroup") {
          activeSheet.rowOutlines.ungroup();
          activeSheet.columnOutlines.ungroup();
        }
      } else if (ribbonEvent.name === "menu:freeze-pane") {
        const cmd = ribbonEvent.commands[0];
        if (cmd === "freeze-pane") {
          activeSheet.frozenRowCount(selection.row);
          activeSheet.frozenColumnCount(selection.col);
        } else if (cmd === "freeze-top-row") {
          activeSheet.frozenRowCount(1);
        } else if (cmd === "freeze-first-column") {
          activeSheet.frozenColumnCount(1);
        } else if (cmd === "freeze-bottom-row") {
          activeSheet.frozenTrailingRowCount(1);
        } else if (cmd === "freeze-last-column") {
          activeSheet.frozenTrailingColumnCount(1);
        } else if (cmd === "freeze-clear") {
          activeSheet.frozenRowCount(0);
          activeSheet.frozenColumnCount(0);
          activeSheet.frozenTrailingRowCount(0);
          activeSheet.frozenTrailingColumnCount(0);
        }
        activeSheet.options.frozenlineColor = "#304FFE";
      }
      activeSheet.resumePaint();
      activeSheet.resumeEvent();
    },
    handleParagraphCommands(ribbonEvent) {
      if (ribbonEvent.name === "exclusive-buttons:format-halign") {
        this.ribbon.paragraph.hAlign = ribbonEvent.commands[0];
      } else if (ribbonEvent.name === "exclusive-buttons:format-valign") {
        this.ribbon.paragraph.vAlign = ribbonEvent.commands[0];
      } else if (ribbonEvent.name === "buttons:indent") {
        const cmd = ribbonEvent.commands[0];
        if (cmd === "outdent") {
          this.ribbon.paragraph.indentDiff = -1;
        } else if (cmd === "indent") {
          this.ribbon.paragraph.indentDiff = 1;
        }
      }

      let halign = null;
      let valign = null;
      if (this.ribbon.paragraph.hAlign) {
        if (this.ribbon.paragraph.hAlign === "left") {
          halign = GC.Spread.Sheets.HorizontalAlign.left;
        } else if (this.ribbon.paragraph.hAlign === "center") {
          halign = GC.Spread.Sheets.HorizontalAlign.center;
        } else if (this.ribbon.paragraph.hAlign === "right") {
          halign = GC.Spread.Sheets.HorizontalAlign.right;
        }
      }
      if (this.ribbon.paragraph.vAlign) {
        if (this.ribbon.paragraph.vAlign === "top") {
          valign = GC.Spread.Sheets.VerticalAlign.top;
        } else if (this.ribbon.paragraph.vAlign === "center") {
          valign = GC.Spread.Sheets.VerticalAlign.center;
        } else if (this.ribbon.paragraph.vAlign === "bottom") {
          valign = GC.Spread.Sheets.VerticalAlign.bottom;
        }
      }

      const activeSheet = this.workbook.getActiveSheet();
      this.workbook.suspendPaint();
      this.workbook.suspendEvent();

      activeSheet.getSelections().forEach(sel => {
        const range = activeSheet.getRange(
          sel.row,
          sel.col,
          sel.rowCount,
          sel.colCount,
          GC.Spread.Sheets.SheetArea.viewport
        );
        if (halign !== null) {
          range.hAlign(halign);
        }
        if (valign !== null) {
          range.vAlign(valign);
        }
        if (this.ribbon.paragraph.indentDiff) {
          const current = range.textIndent();

          if (current) {
            const newIndent = current + this.ribbon.paragraph.indentDiff;
            if (newIndent >= 0) {
              range.textIndent(newIndent);
            }
          } else if (this.ribbon.paragraph.indentDiff > 0) {
            range.textIndent(this.ribbon.paragraph.indentDiff);
          }
        }
      });
      this.workbook.resumeEvent();
      this.workbook.resumePaint();
    },
    onGridSelectionChanged(e, info) {
      const activeSheet = this.workbook.getActiveSheet();
      this.selections = info.newSelections;
      const selection = info.newSelections[0];
      const range = activeSheet.getRange(
        selection.row,
        selection.col,
        selection.rowCount,
        selection.colCount,
        GC.Spread.Sheets.SheetArea.viewport
      );
      const decoration = range.textDecoration();

      this.ribbon.font.underline =
        (decoration & GC.Spread.Sheets.TextDecorationType.underline) ===
        GC.Spread.Sheets.TextDecorationType.underline;
      this.ribbon.font.lineThrough =
        (decoration & GC.Spread.Sheets.TextDecorationType.lineThrough) ===
        GC.Spread.Sheets.TextDecorationType.lineThrough;
      this.ribbon.font.doubleUnderline =
        (decoration & GC.Spread.Sheets.TextDecorationType.doubleUnderline) ===
        GC.Spread.Sheets.TextDecorationType.doubleUnderline;
      this.ribbon.font.overline =
        (decoration & GC.Spread.Sheets.TextDecorationType.overline) ===
        GC.Spread.Sheets.TextDecorationType.overline;
      this.ribbon.font.foreColor = range.foreColor();
      this.ribbon.font.backColor = range.backColor();

      this.ribbon.number.format = getFormatter(range.formatter());

      // let json = this.workbook.toJSON()
      // debugger
      this.ribbon.paragraph.hAlign = "";
      this.ribbon.paragraph.vAlign = "";
      const halign = range.hAlign();
      const valign = range.vAlign();
      if (halign === GC.Spread.Sheets.HorizontalAlign.left) {
        this.ribbon.paragraph.hAlign = "left";
      } else if (halign === GC.Spread.Sheets.HorizontalAlign.center) {
        this.ribbon.paragraph.hAlign = "center";
      } else if (halign === GC.Spread.Sheets.HorizontalAlign.right) {
        this.ribbon.paragraph.hAlign = "right";
      }

      if (valign === GC.Spread.Sheets.VerticalAlign.top) {
        this.ribbon.paragraph.vAlign = "top";
      } else if (valign === GC.Spread.Sheets.VerticalAlign.center) {
        this.ribbon.paragraph.vAlign = "center";
      } else if (valign === GC.Spread.Sheets.VerticalAlign.bottom) {
        this.ribbon.paragraph.vAlign = "bottom";
      }

      const font = range.font();
      if (font) {
        const fontStr = parseCSSFont(font);
        if (fontStr.family.length > 0) {
          if (!fonts.includes(fontStr.family[0])) {
            fonts.push(fontStr.family[0]);
            this.ribbonConfig.tabs[0].ribbons[0].tools[0].items.push({
              name: fontStr.family[0],
              label: fontStr.family[0],
              value: fontStr.family[0]
            });
            this.ribbonConfig.tabs[0].ribbons[0].tools[0].items.sort((a, b) =>
              a.label > b.label ? 1 : -1
            );
          }
          this.ribbon.font.family = fontStr.family[0];
        }

        this.ribbon.font.bold = boldValues[fontStr.weight];
        this.ribbon.font.italic = fontStr.style === "italic";
        const fontSize = Math.round(parseFloat(fontStr.size));
        if (!fontSizes.includes(fontSize)) {
          fontSizes.push(fontSize);
          this.ribbonConfig.tabs[0].ribbons[0].tools[1].items.push({
            name: fontSize + "px",
            label: fontSize,
            value: fontSize + "px"
          });
          this.ribbonConfig.tabs[0].ribbons[0].tools[1].items.sort(
            (a, b) => a.label - b.label
          );
        }
        this.ribbon.font.size = fontSize + "px";
      }
    },
    onGridActiveSheetChanged(e, args) {
      this.bindSheetEvents(args.newSheet);
      this.setDefaultStyle();
      if (args.oldSheet) {
        args.oldSheet.unbindAll();
      }
    },
    setDefaultStyle() {
      const activeSheet = this.workbook.getActiveSheet();
      const defaultStyle = new GC.Spread.Sheets.Style();
      defaultStyle.font = this.defaultFont;
      activeSheet.setDefaultStyle(defaultStyle);
      activeSheet.options.clipBoardOptions =
        GC.Spread.Sheets.ClipboardPasteOptions.all;
    },
    bindSheetEvents(sheet) {
      sheet.bind(
        GC.Spread.Sheets.Events.SelectionChanged,
        this.onGridSelectionChanged
      );
      sheet.bind(GC.Spread.Sheets.Events.CellChanged, (e, info) => {
        if (["value", "comment"].includes(info.propertyName)) {
          this.dataChanged = true;
        }
      });
      sheet.bind(GC.Spread.Sheets.Events.CommentChanged, () => {
        this.dataChanged = true;
      });
      sheet.bind(GC.Spread.Sheets.Events.DragFillBlock, () => {
        this.dataChanged = true;
      });
      sheet.bind(GC.Spread.Sheets.Events.ClipboardPasting, () => {
        this.dataChanged = true;
      });
      sheet.bind(GC.Spread.Sheets.Events.UserFormulaEntered, () => {
        this.dataChanged = true;
      });
      sheet.bind(GC.Spread.Sheets.Events.RangeChanged, () => {
        this.dataChanged = true;
      });
    },
    prepareRibbon() {
      try {
        const toggleList = [];
        if (this.ribbon.font.bold) {
          toggleList.push("bold");
        }
        if (this.ribbon.font.italic) {
          toggleList.push("italic");
        }
        if (this.ribbon.font.underline) {
          toggleList.push("underline");
        }
        if (this.ribbon.font.lineThrough) {
          toggleList.push("strikethrough");
        }
        if (this.ribbon.font.doubleUnderline) {
          toggleList.push("doubleunderline");
        }
        if (this.ribbon.font.overline) {
          toggleList.push("overline");
        }

        const ribbon = this.$refs.ribbon;
        ribbon.resetToggleButtonGroup(
          "font",
          "toggle-buttons:bold-italic-underline-strikethrough",
          false
        );
        if (toggleList.length) {
          ribbon.selectToggleButtons(
            "font",
            "toggle-buttons:bold-italic-underline-strikethrough",
            toggleList,
            false
          );
        }

        ribbon.selectDropdownItem(
          "font",
          "dropdown:font-family",
          this.ribbon.font.family,
          false
        );
        ribbon.selectDropdownItem(
          "font",
          "dropdown:font-size",
          this.ribbon.font.size,
          false
        );
        ribbon.selectColor(
          "font",
          "color-picker:font-color",
          this.ribbon.font.foreColor,
          false
        );
        ribbon.selectColor(
          "font",
          "color-picker:highlight-color",
          this.ribbon.font.backColor,
          false
        );

        ribbon.resetDropdown("numbers", "dropdown:number-format", false);
        // ribbon.selectDropdownItem('numbers', 'dropdown:number-format', 'General', false)
        if (this.ribbon.number.format) {
          ribbon.selectDropdownItem(
            "numbers",
            "dropdown:number-format",
            this.ribbon.number.format,
            false
          );
        }

        // this.ribbon.paragraph.hAlign
        ribbon.resetExclusiveButtonGroup(
          "paragraph",
          "exclusive-buttons:format-halign",
          false
        );
        ribbon.resetExclusiveButtonGroup(
          "paragraph",
          "exclusive-buttons:format-valign",
          false
        );
        if (this.ribbon.paragraph.hAlign) {
          ribbon.selectExclusiveButton(
            "paragraph",
            "exclusive-buttons:format-halign",
            this.ribbon.paragraph.hAlign,
            false
          );
        }
        if (this.ribbon.paragraph.vAlign) {
          ribbon.selectExclusiveButton(
            "paragraph",
            "exclusive-buttons:format-valign",
            this.ribbon.paragraph.vAlign,
            false
          );
        }
      } catch (e) {
        console.log(e);
      }
    },
    onRibbonCollapsed() {
      this.ribbonCollapsed = !this.ribbonCollapsed;
      this.$nextTick(() => {
        this.workbook.refresh();
      });
    },
    getTag() {
      const sheet = this.workbook.getActiveSheet();
      // eslint-disable-next-line no-unused-vars
      const selection = sheet.getSelections();
      /*
      this.$emit("tag", {
        name: sheet.name(),
        row: selection[0].row,
        col: selection[0].col
      });
      */
    },
    async loadSpread(data) {
      if (!data) {
        return;
      }
      if (data.size && data.type) {
        if (this.hasLoad) {
          // this.$emit("load", true);
        }
        // this is blob
        const excelIO = new Excel.IO();
        await excelIO.open(
          data,
          json => {
            if (this.hasLoad) {
              // this.$emit("load", false);
            }
            this.loadSpread(json);
          },
          // eslint-disable-next-line no-unused-vars
          error => {
            if (this.hasLoad) {
              // this.$emit("load", false);
            }
          }
        );
      } else {
        this.workbook.suspendPaint();
        this.workbook.suspendEvent();
        this.workbook.invalidateLayout();
        this.workbook.fromJSON(data);
        this.bindSheetEvents(this.workbook.getActiveSheet());
        this.workbook.resumeEvent();
        this.workbook.resumePaint();
      }
    },
    beforeDestroy() {
      this.workbook.destroy();
      this.workbook = undefined;
      this.ribbonConfig = undefined;
    }
  },
  created() {
    this.ribbonConfig = ribbonConfig;
  },
  mounted() {
    const ribbonMd = this.$el.querySelector(".vc-ribbon-md");
    if (ribbonMd) {
      ribbonMd.parentNode.removeChild(ribbonMd);
    }

    this.workbook = new GC.Spread.Sheets.Workbook(this.$refs.grid);
    this.loadSpread(null);

    this.workbook.bind(
      GC.Spread.Sheets.Events.ActiveSheetChanged,
      this.onGridActiveSheetChanged
    );
    const formulaTextBox = new GC.Spread.Sheets.FormulaTextBox.FormulaTextBox(
      this.$refs.formulaTextBox,
      {}
    );
    formulaTextBox.workbook(this.workbook);
    this.workbook.options.allowExtendPasteRange = true;
    this.workbook.options.allowCopyPasteExcelStyle = true;

    this.setDefaultStyle();

    const statusBar = new GC.Spread.Sheets.StatusBar.StatusBar(
      this.$refs.statusBar
    );
    statusBar.bind(this.workbook);

    if (this.hasTag) {
      const getTagItem = {
        text: "Детали",
        name: "getDetailsMenuItem",
        workArea: "viewport",
        command: this.getTag
      };
      this.workbook.contextMenu.menuData.push(getTagItem);
    }
  }
};
</script>
