<template>
  <v-app>
    <router-view></router-view>
  </v-app>
</template>

<style scoped>
.theme--light.v-application {
  background-color: #eeeefbb0;
}
</style>

<style>
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
.v-application,
html {
  font-family: "Rubik", sans-serif !important;
}

/* width */
::-webkit-scrollbar {
  transition: 0.3s all ease;
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3c4368;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3c4368;
}

h1 {
  color: #444444;
  font-weight: 500;
}
</style>

<script>
export default {
  name: "App",

  data: () => ({
    //
  })
};
</script>
