@import './roboto/roboto';
@import './material-icons/index';
@import './material-design-icons/materialdesignicons';
@import './font-awesome/font-awesome';

@mixin centerer() {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-position {
  z-index: 1900;
  @include centerer;
}

.overlay {
  z-index: 2 !important
}

.v-card-form {
  padding: 10px 20px;
}

.x-mask,
.x-mask-msg.x-layer.x-mask-msg-default.ss-loadmask {
  visibility: hidden;
}

.v-datatable tbody td,
.v-toolbar__content .v-toolbar__title {
  cursor: default;
}

.v-chip {
  &.chip-sup {
    margin-top: -14px;
    height: 14px;

    .v-chip__content {
      padding: 3px !important;
    }
  }
}

.word-break {
  word-break: break-all;
}

.log-rethrow--text {
  color: #074f4b;
}

.log-rethrow {
  background-color: #074f4b;
}


svg>circle[hidden="0"],
svg>path[hidden="false"],
svg>path[hidden="0"],
svg>rect[hidden="false"] {
  display: inherit;
}