<template>
  <div>
    <router-view></router-view>
  </div>
</template>

<style scoped>
.v-content {
  padding-left: 56px !important;
  padding-right: 56px !important;
}
</style>

<script>
export default {
  data() {
    return {};
  }
};
</script>
